<div class="container">
  <div class="toggle-wrapper">
    <label>Freeze card</label>
    <label class="toggle-wrapper__toggle">
      <input type="checkbox" (click)="open(content)" (change)="openModal = !openModal;">
      <span class="toggle-wrapper__toggle__slider round"></span>
    </label>
    <div *ngIf="displayLabel">
      <span class="freezeCard"> </span>{{labels.freezeCard}}
    </div>

    <ng-template #content let-c="close">
      <div class="col-md-8">
        <span class="green-info"></span>
        <p>
          <span>{{labels.freezeConfirm}}</span>
        </p>
        <p>
          <span>{{labels.freezeNote}}</span>
        </p>
        <p>
          <span>{{labels.lostStolen}}</span>
        </p>
        <div>
          <button class="nlsg-c-button" (click)="onNextClick(!openModal ? 'freeze' : 'unfreeze')">{{labels.next}}</button>
          <button class="nlsg-c-button" type="button" (click)="c('Close click')">{{labels.close}}</button>
        </div>
      </div>
    </ng-template>
  </div>
</div>
