<!-- <app-date-wise-transaction *ngIf="isDateWise" ></app-date-wise-transaction> -->
<div class="container">
  <input type="button" class="btn btn-primary" value="DATE WISE SEARCH" (click)="dateWiseSearch()">
  <table class="table table-bordered">
     <thead>
       <tr>
         <td>Date</td>
         <td>Description</td>
         <td>Amount</td>
         <td>Balance</td>
       </tr>
     </thead>
     <tbody>
       <tr *ngFor="let txn of transactions" >
          <td>{{txn.Date| date:'dd-MM-yyyy'}}</td>
          <td>{{txn.Description}}</td>
          <td>{{txn.Amount}}</td>
          <td>{{txn.Balance}}</td>
       </tr>
     </tbody>
  </table>
</div>