
.nlsg-c-form-element{
  background-color:#eceeef;
  &__label{
    position: relative;
    color: black;
    margin-bottom: 0.4rem;
    display: block;
    max-width: 390px;
    width: 60%;
    font-family: MarkPro;
    margin-left: 0px;
    font-size: 18px;
    padding-left: 10px;

  }

  &__title{
    color:#ccc;
  }
}
.nlsg-c-profile {
width:100%;
height:100%;
overflow: hidden;
background: #f9f9f9;
}

.nlsg-c-profile-listing {
box-sizing: border-box;
float: left;
width:100%;
padding-left:5%;
padding-right:5%;
padding-bottom:5%;
}
.nlsg-c-profile-main {
  background: #ffffff;
  margin-top:2%;
  padding-right:1%;
  padding-left:1%;
  }

  .negative{
    color: red;
  }

  .positive{
    color: green;
  }
