<form class="nlsg-c-form-element">
  <div class="transaction">
    <table class="table table-boardered table-striped">
      <thead class="nlsg-c-form-element__title">
        <td>Date</td>
        <td>Description</td>
        <td>Amount</td>
        <td>Balance</td>
      </thead>
      <tbody *ngFor="let tx of transactionDetails; let i=index">
        <tr>
          <td>{{tx.Date}}</td>

          <td>
            <span (click)="moreDetails(tx.id, tx.transaction_list)">{{tx.descripton}}</span>
          </td>
          <td [ngClass]="tx.Amount < 0 ? 'negative':'positive'">{{tx.Amount|currency}}</td>
          <td>{{tx.Balance}}</td>
        </tr>
        <div *ngIf="displayMoreDetail[tx.id]">
          <div *ngFor="let txl of showData">
            <div class="nlsg-c-form-element__label">
              <p>
                <label>Account Number:</label>{{txl.AccountNumber}}</p>
              <p>
                <label>Transaction Type:</label>{{txl.TransactionType}}</p>
              <p>
                <label>Transaction Description:</label>{{txl.TransactionDescription}}</p>
              <p>
                <label>Transaction Amount:</label>{{txl.TransactionAmount}}</p>
              <p>
                <label>Transaction Date:</label>{{txl.TransactionDate}}</p>
              <p>
                <label>Reference Number:</label>{{txl.ReferenceNumber}}</p>
              <p>
                <label>Error Code:</label>{{txl.ErrorCode}}</p>
            </div>
          </div>
          <div *ngIf="!transaction_list" class="nlsg-c-form-element__label">
            <p>
              <label>Date:</label>{{tx.Date}}</p>
            <p>
              <label>Description:</label>{{tx.descripton}}</p>
            <p>
              <label>Amount:</label>{{tx.Amount|currency}}</p>
            <p>
              <label>Balance:</label>{{tx.Balance|currency}}</p>
          </div>
        </div>
      </tbody>
    </table>
  </div>
</form>
