
.nlsg-c-form-element{

  &__label{
    position: relative;
    color: black;
    margin-bottom: 0.4rem;
    display: block;
    max-width: 390px;
    width: 500%;
    font-family: MarkPro;
    margin-left: 0px;
    font-size: 0.9rem;
    padding-left: 10px;

  }

  &__title{
    color:#ccc;
  }
}


  .negative{
    color: red;
  }

  .positive{
    color: green;
  }

.transaction{
   display: inline-block;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 33%;
}
.table th, .table td {
  height:25%;
  width:25%;
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #eceeef;
  background-color: white;

}
