<div class="nlsg-c-profile">
  <div class="nlsg-c-profile-listing">
    <div class="nlsg-c-profile-main">
      <form class="nlsg-c-form-element">
        <div class="transaction">
        <table class= "table table-boardered table-striped">
          <thead class="nlsg-c-form-element__title">
            <td>Date</td>
            <td>Description</td>
            <td>Amount</td>
            <td>Balance</td>
          </thead>
          <tbody  *ngFor="let tx of transactionDetails; let i=index">
            <tr>
              <td>{{tx.Date}}</td>

              <td><span (click)="moreDetails(tx.id, tx.transaction_list)">{{tx.descripton}}</span></td>
            <td [ngClass]="tx.Amount < 0 ? 'negative':'positive'">{{tx.Amount|currency}}</td>
              <td>{{tx.Balance}}</td>
            </tr>
            <div *ngIf="displayMoreDetail[tx.id]" >
                <div  *ngFor="let txl of showData" colspan="6">
                  <div class="nlsg-c-form-element__label">


                      <div><label>AccountNumber:</label>{{txl.AccountNumber}}</div>
                      <div><label>TransactionType:</label>{{txl.TransactionType}}</div>
                      <div><label>TransactionDescription:</label>{{txl.TransactionDescription}}</div>
                      <div><label>TransactionAmount:</label>{{txl.TransactionAmount}}</div>
                      <div><label>TransactionDate:</label>{{txl.TransactionDate}}</div>
                      <div><label>ReferenceNumber:</label>{{txl.ReferenceNumber}}</div>
                      <div><label>ErrorCode:</label>{{txl.ErrorCode}}</div>
                  </div>
                 </div>
                 <div *ngIf="!transaction_list"  class="nlsg-c-form-element__label">
                   <div><label>Date:</label>{{tx.Date}}</div>
                   <div><label>Description:</label>{{tx.descripton}}</div>
                   <div><label>Amount:</label>{{tx.Amount|currency}}</div>
                   <div><label>Balance:</label>{{tx.Balance|currency}}</div>

                </div>
            </div>

          </tbody>
        </table>
      </div>
    </form>
  </div>
  </div>
</div>
