.nlsg-c-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: green;
  width: 52%;
  max-width: 25rem;
  min-height: 2.5rem;
  height: 3.25rem;
  margin: 1.875rem 0 3.25rem;
  border-radius: 0.25rem;
  border: 2px solid green;
  min-width: 200px;
font-family: MarkPro;
  font-size: 1.125rem;
  text-align: center;
  color:white;
  cursor: pointer;

}
