// @import '../../../../node_modules/ngx-bootstrap/datepicker'; 

 table{
     margin-top: 50px;
     margin: 20-px;
    
 }
.noTransacrion{
    text-align: center;
    color: red;
}
 .btn-group{
     margin: 50px;
 }

 .btn-outline-success{
     width: 200px;
 }
 .row{
     margin: 30px;
 }