 table{
     margin-top: 50px;
     margin: 20px;
 }
.noTransaction{
    text-align: center;
    color: red;
}
 .btn-group{
     margin: 50px;
 }

 .btn-outline-success{
     width: 200px;
 }
 .row{
     margin: 30px;
 }